# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
ENV/

env/

# SQLite databases
*.db
*.db-journal

# Flask instance folder
instance/

# Logs
*.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Build / distribution
build/
dist/
*.egg-info/

*.md

